
.content_pane {
    -fx-background-color: -womt-background-2;
    -fx-background-radius: 10 0 0 0;
}

/*If you notice when you enable another window the border shrinks a bit, it's annoying*/
.content_pane_border {
    -fx-border-color: -womt-border-color;
    -fx-border-radius: 9 0 0 0;
    -fx-border-width: 1.5 0 0 1.5;
}

.base {
    -fx-background-color: -womt-background-1;
}

.base .hit-btn {
    -fx-min-width: 46;
    -fx-max-width: 46;
    -fx-pref-width: 46;
    -fx-min-height: 26;
    -fx-pref-height: 26;
    -fx-max-height: 26;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.base .shape {
    -fx-fill: -womt-text-2;
}

.base .hit-btn-hover {
    -fx-background-color: rgba(150, 150, 150, .32);
}

.base .hit-btn-hover SVGPath {
    -fx-fill: -womt-text-1;
}

.base .hit-close-hover {
    -fx-background-color: -womt-accent;
}

.base .hit-close-hover SVGPath {
    -fx-fill: -womt-text-1;
}

.base .title {
    -fx-text-fill: -womt-text-color-1;
    -fx-font-size: 12;
}

.base .info {
    -fx-text-fill: -womt-text-color-1;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

