/*This is a switch AKA a fancy toggle button
Suona meglio in inglese la frase che tradotta*/

.switch .label {
    -fx-text-fill: -womt-text;
}

.switch AnchorPane {
    -fx-background-color: -womt-text-muted, -womt-foreground-rest;
    -fx-background-insets: 0, .5;
    -fx-background-radius: 11.5, 11.5;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.switch:hover AnchorPane {
    -fx-background-color: -womt-text-muted, -womt-foreground-hover;
}

.switch:pressed AnchorPane {
    -fx-background-color: -womt-text-muted, -womt-foreground-pressed;
}

.switch:selected AnchorPane {
    -fx-background-color: transparent, -womt-accent;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 11.5, 11.5;
}

.switchStateIndicator {
    -fx-background-color: -womt-text-muted;
    -fx-background-insets: 4.5;
    -fx-background-radius: 10;
}

.switch:hover .switchStateIndicator {
    -fx-background-insets: 3.5;
}

.switch:selected .switchStateIndicator {
    -fx-background-color: black;
}