.color-picker-button {
    -fx-background-color: black;
    -fx-background-radius: 4;
    -fx-background-insets: 1;
    -fx-border-color: transparent;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-pref-width: 36;
    -fx-pref-height: 36;
}

.color-picker-button:hover,
.color-picker-button:selected {
    -fx-border-color: -womt-text;
    -fx-border-radius: 4;
    -fx-border-width: 2;
}

.color-picker-button:selected .selectedIndicator {
    -fx-background-color: -womt-text;
}

.color-picker-button:selected .selectedIndicator SVGPath {
    visibility: true;
    -fx-fill: -womt-text-contrast;
}
