
.combo-box {
    /*-fx-background-color: -womt-indicator-rest, -womt-stroke-rest, -womt-foreground-rest;*/
    -fx-background-color: transparent, -womt-stroke-rest, -womt-foreground-rest;
    -fx-background-insets: 0, 0, 1.1;
    -fx-background-radius: 4, 4, 4;
}

.combo-box:hover {
    /*-fx-background-color:  -womt-indicator-hover, -womt-stroke-hover, -womt-foreground-hover;*/
    -fx-background-color:  transparent, -womt-stroke-hover, -womt-foreground-hover;
}

/*the style of the combo box when the list is showing*/
.combo-box:showing {
    -fx-background-color: transparent, -womt-stroke-rest, -womt-foreground-rest;
}

/*the element shown inside the combo-box*/
.combo-box .list-cell {
    -fx-text-fill: -womt-text-1;
    -fx-padding: 4 8 4 10;
    -fx-border-width: 1;
    -fx-border-color: transparent;
}

.combo-box-base.combo-box > .arrow-button > .arrow {
    -fx-background-color: -womt-text-1;
    -fx-background-insets: 0;
    -fx-padding: 3 6;
    -fx-scale-x: .8;
    -fx-scale-y: .8;
    -fx-shape: "M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z";
}

.combo-box-base.combo-box > .arrow-button {}

.combo-box .list-view {
    -fx-background-color: -womt-foreground-rest;
    -fx-background-radius: 9;
    -fx-border-color: -womt-border-color;
    -fx-border-width: 1.1;
    -fx-border-radius: 8;
    -fx-padding: 4;
}

.combo-box .list-view .list-cell {
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 2.5 0 2.5 0, 8 134 8 1;
    -fx-background-radius: 5, 10;
    -fx-border-width: 0 8 0 8;
    -fx-padding: 7 3 7 9;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -womt-foreground-hover, transparent;
}

.combo-box .list-view .list-cell:pressed  {
    -fx-background-insets: 2.5 0 2.5 0, 10 134 10 1;
    -fx-background-color: -womt-foreground-pressed, -womt-accent;
}

.combo-box .list-view .list-cell:selected  {
    -fx-background-color: -womt-foreground-selected, -womt-accent;
}

.combo-box .list-view .list-cell:selected:hover {
    -fx-background-insets: 2.5 0 2.5 0, 10 134 10 1;
    -fx-background-color: -womt-foreground-hover, -womt-accent;
}

.combo-box .list-view .list-cell:empty:hover  {
    -fx-background-color: transparent;
}