.settingElement {
    -fx-background-color: -womt-border-dark, -womt-background-light;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6, 5;
}

.settingElementTop:expandable:hover {
    -fx-background-color: -womt-border-light, -womt-background-light-hover;
    -fx-background-insets: 0, .9;
}

.settingElementTop:expandable:pressed {
    -fx-background-color: -womt-border-light, -womt-background-light-pressed;
    -fx-background-insets: 0, .9;
}

.settingElement:expanded .settingElementTop {
    -fx-background-color: -womt-border-dark, -womt-background-light;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6 6 0 0, 5 5 0 0;
}

.settingElement:expanded .settingElementTop:expandable:hover {
    -fx-background-color: -womt-border-light, -womt-background-light-hover;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6 6 0 0, 5 5 0 0;
}

.settingElement:expanded .settingElementTop:expandable:hover:pressed {
    -fx-background-color: -womt-border-light, -womt-background-light-pressed;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6 6 0 0, 5 5 0 0;
}

.settingElement .title {
    -fx-font-weight: bold;
}

.settingElement .description {
    -fx-text-fill: -womt-text-muted;
}

.settingElement SVGPath {
    -fx-fill: -womt-text;
}

