@import "all_components.css";

.root {
    -womt-background-darkest: hsb(0, 0%, 9%);
    -womt-background-dark: hsb(0, 0%, 13%);
    -womt-background-normal: hsb(0, 0%, 17%);
    -womt-background-light: hsb(0, 0%, 21%);
    -womt-background-lightest: hsb(0, 0%, 27%);

    -womt-background-light-hover: hsb(0, 0%, 24%);
    -womt-background-light-pressed: hsb(0, 0%, 19%);

    -womt-border-dark: hsba(0, 0%, 11%, 80);
    -womt-border-light: hsba(0, 0%, 29%, 80); /*23 / 19<< */

    -womt-text: hsb(0, 0%, 100%);
    -womt-text-muted: hsb(0, 0%, 82%);
    -womt-text-very-muted: hsb(0, 0%, 50%);
    -womt-text-contrast: hsb(0, 0%, 0%); /*18 / 24*/

    /*TODO: Button*/

    -womt-accent: #700525;

    -womt-button-rest: #00000000;
    -womt-button-hover: rgb(94, 94, 94, 0.4); /*rgba(94, 94, 94, .5);*/
    -womt-button-selected: rgb(94, 94, 94, 0.2); /*rgba(94, 94, 94, .3);*/
    -womt-button-pressed: rgb(94, 94, 94, 0.3); /*rgba(94, 94, 94, .4);*/

    -womt-foreground-rest: hsb(0, 0%, 22%); /*18 / 22 / 24*/
    -womt-foreground-hover: hsb(0, 0%, 24%); /*24 / 25*/
    -womt-foreground-pressed: hsb(0, 0%, 21%); /*20 / 21*/
    -womt-foreground-selected: hsb(0, 0%, 12%);

    -womt-stroke-rest: hsb(0, 0%, 25%);
    -womt-stroke-hover: -womt-stroke-rest;
    -womt-stroke-pressed: hsb(0, 0%, 23%);
    -womt-stroke-selected: hsb(0, 0%, 19%);

    -womt-indicator-rest: hsb(0, 0%, 60%);
    -womt-indicator-hover: hsb(0, 0%, 60%);
    -womt-indicator-pressed: hsb(0, 0%, 60%);
    -womt-indicator-selected: -womt-accent;

    /*Component specifics colors*/
    -womt-slider:  hsba(0, 0%, 100%, .6);  /*-womt-slider: hsb(0, 0%, 62%);*/ /*TODO: vedere se questo va bene*/
}

.selected-files-container {
    -fx-background-color: -womt-border-dark, -womt-background-light;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6, 5;
}

.selected-files-container .progress-bar {
    -fx-background-color: -womt-background-light;
}

.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 1;
}
.progress-bar > .bar {
    -fx-background-color: -womt-accent;
    -fx-background-radius: 10;
    -fx-background-insets: 5;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: -womt-accent;
}

.progress-bar > .track {
    -fx-background-color: -womt-stroke-rest, transparent, transparent;
    -fx-background-insets: 5, 0, 0;
    -fx-background-radius: 10, 0, 0;
}

.list-view {
    -fx-background-color: -womt-background-lightest;
    -fx-background-radius: 5;
    -fx-border-color: -womt-border-light;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-background-insets: 1 0 1 0;
    -fx-text-fill: -womt-text;
    -fx-padding: 3 0 2 7;
}

.list-view .list-cell:hover {
    -fx-background-color: -womt-foreground-hover;
}

.list-view .list-cell:selected {
    -fx-background-color: -womt-foreground-selected;
}