@import "all_components.css";

.root {
    -womt-background-darkest: hsb(0, 0%, 9%);
    -womt-background-dark: hsb(0, 0%, 13%);
    -womt-background-normal: hsb(0, 0%, 17%);
    -womt-background-light: hsb(0, 0%, 21%);
    -womt-background-lightest: hsb(0, 0%, 27%);

    -womt-background-light-hover: hsb(0, 0%, 24%);
    -womt-background-light-pressed: hsb(0, 0%, 19%);

    -womt-border-dark: hsba(0, 0%, 11%, 80);
    -womt-border-light: hsba(0, 0%, 29%, 80); /*23 / 19<< */

    -womt-text: hsb(0, 0%, 100%);
    -womt-text-muted: hsb(0, 0%, 82%);
    -womt-text-very-muted: hsb(0, 0%, 50%);
    -womt-text-contrast: hsb(0, 0%, 0%); /*18 / 24*/

    /*TODO: Button*/

    -womt-accent: #700525;

    -womt-button-rest: hsba(0, 0%, 30%, 0);
    -womt-button-hover: hsba(0, 0%, 30%, .5); /*rgba(94, 94, 94, .5);*/
    -womt-button-selected: hsba(0, 0%, 30%, .6); /*rgba(94, 94, 94, .3);*/
    -womt-button-pressed: hsba(0, 0%, 30%, .7); /*rgba(94, 94, 94, .4);*/

    -womt-foreground-rest: hsb(0, 0%, 22%); /*18 / 22 / 24*/
    -womt-foreground-hover: hsb(0, 0%, 24%); /*24 / 25*/
    -womt-foreground-pressed: hsb(0, 0%, 21%); /*20 / 21*/
    -womt-foreground-selected: hsb(0, 0%, 12%);

    -womt-stroke-rest: hsb(0, 0%, 25%);
    -womt-stroke-hover: -womt-stroke-rest;
    -womt-stroke-pressed: hsb(0, 0%, 23%);
    -womt-stroke-selected: hsb(0, 0%, 19%);

    -womt-indicator-rest: hsb(0, 0%, 60%);
    -womt-indicator-hover: hsb(0, 0%, 60%);
    -womt-indicator-pressed: hsb(0, 0%, 60%);
    -womt-indicator-selected: -womt-accent;

    -womt-success: hsb(120, 100%, 40%);
    -womt-warning: hsb(60, 100%, 40%);
    -womt-error: hsb(0, 100%, 40%);
    -womt-info: hsb(240, 100%, 40%);


    -fx-font-size: 11;

    -fx-cell-size: 15.915;

    /*Component specifics colors*/
    -womt-slider: hsba(0, 0%, 100%, .6);  /*-womt-slider: hsb(0, 0%, 62%);*/ /*TODO: vedere se questo va bene*/
}

.collapsable-activity-indicator {
    -fx-background-color: -womt-button-rest;
    -fx-pref-height: 32;
    -fx-background-radius: 8;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-alignment: center-left;
    /*-fx-font-weight: bold;*/
}

.collapsable-activity-indicator .label {
    -fx-text-fill: -womt-text;
    -fx-text-overrun: clip;
}

.collapsable-activity-indicator .scroll-pane {
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -womt-border-light;
}

.collapsable-activity-indicator .separator .line {
    -fx-border-color: -womt-border-light;
    -fx-border-width: 1 0 0 0;
}

.collapsable-activity-indicator:selected {
    -fx-background-color: -womt-button-selected;
}

.collapsable-activity-indicator:selected .scroll-pane {
    -fx-pref-height: 72;
}