@import "all_components.css";

.root {
    -womt-background-darkest: hsb(0, 0%, 90%);
    -womt-background-dark: hsb(0, 0%, 95%);
    -womt-background-normal: hsb(0, 0%, 98%);
    -womt-background-light: hsb(0, 0%, 99%);
    -womt-background-lightest: hsb(0, 0%, 100%);

    -womt-background-light-hover: hsb(0, 0%, 96%);
    -womt-background-light-pressed: hsb(0, 0%, 96%);

    -womt-border-dark: hsb(0, 0%, 90%);
    -womt-border-light: hsb(0, 0%, 95%);

    -womt-text: hsb(0, 0%, 10%);
    -womt-text-muted: hsb(0, 0%, 35%);
    -womt-text-contrast: hsb(0, 0%, 100%); /*18 / 24*/

    /*TODO: Button*/

    -womt-accent: #700525;

    -womt-button-rest: #00000000;
    -womt-button-hover: rgb(94, 94, 94, 0.4); /*rgba(94, 94, 94, .5);*/
    -womt-button-selected: rgb(94, 94, 94, 0.2); /*rgba(94, 94, 94, .3);*/
    -womt-button-pressed: rgb(94, 94, 94, 0.3); /*rgba(94, 94, 94, .4);*/

    -womt-foreground-rest: hsb(0, 0%, 100%); /*18 / 22 / 24*/
    -womt-foreground-hover: hsb(0, 0%, 98%); /*24 / 25*/
    -womt-foreground-pressed: hsb(0, 0%, 98%); /*20 / 21*/
    -womt-foreground-selected: hsb(0, 0%, 100%);

    -womt-stroke-rest: hsb(0, 0%, 90%);
    -womt-stroke-hover: -womt-stroke-rest;
    -womt-stroke-pressed: hsb(0, 0%, 90%);
    -womt-stroke-selected: hsb(0, 0%, 90%);

    -womt-indicator-rest: hsb(0, 0%, 53%);
    -womt-indicator-hover: hsb(0, 0%, 53%);
    -womt-indicator-pressed: hsb(0, 0%, 53%);
    -womt-indicator-selected: -womt-accent;

    /*Component specifics colors*/
    -womt-slider:  hsba(0, 0%, 100%, .6);  /*-womt-slider: hsb(0, 0%, 54%);*/ /*TODO: vedere se questo va bene*/
}