@import "all_components.css";

.root {
    /*-fx-blend-mode this might be useful*/

    -womt-background-1: #202020;
    -womt-background-2: #2c2c2c;
    -womt-background-3: #2d2d2d;
    -womt-background-4: #00ff00;

    -womt-button-rest: #00000000;
    -womt-button-hover: rgb(94, 94, 94, 0.4); /*rgba(94, 94, 94, .5);*/
    -womt-button-selected: rgb(94, 94, 94, 0.2); /*rgba(94, 94, 94, .3);*/
    -womt-button-pressed: rgb(94, 94, 94, 0.3); /*rgba(94, 94, 94, .4);*/

    -womt-stroke-rest: #3b3b3b;
    -womt-stroke-hover: #3b3b3b;
    -womt-stroke-pressed: #3b3b3b;
    -womt-stroke-selected: -womt-stroke-pressed;

    -womt-foreground-rest: #383838;
    -womt-foreground-hover: #3d3d3d;
    -womt-foreground-pressed: #222222;
    -womt-foreground-selected: -womt-foreground-pressed;

    -womt-indicator-rest: #9f9f9f;
    -womt-indicator-hover: #9f9f9f;
    -womt-indicator-pressed: -womt-accent;
    -womt-indicator-selected: -womt-indicator-pressed;

    -womt-slider: #a0a0a0;
    -womt-slider-background: #3c3c3c;

    -womt-text-1: #ffffff;
    -womt-text-2: #737373;
    -womt-text-3: #373737;

    -womt-accent: #700525;

    -womt-border-color: #1d1d1d;

    -womt-text-color-1: #ffffff;
}

.root .label {
    -fx-text-fill: -womt-text-1;
}

.settingElement {
    -fx-background-color: -womt-border-color, -womt-foreground-rest;
    -fx-background-insets: 0, 1.1;
    -fx-background-radius: 10, 10;
}

.settingElement:hover {
    -fx-background-color: -womt-border-color, -womt-foreground-hover;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 11, 10;
}

.settingElement .title {
    -fx-font-weight: bold;
}

.settingElement .description {
    -fx-text-fill: -womt-text-2;
}

.settingElement SVGPath {
    -fx-fill: -womt-text-1;
}

